*{
    margin: 0;
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;

    nav{
        width: 100%;
        height: 5em;
        box-sizing: border-box;
        overflow: hidden;
        border: 1px solid rgb(0, 0, 0);
        background-color: white;
        display: flex;
        justify-content: space-between;

        
        .logo{
            width: 5em;
            height: 100%;
        }
    }
}


.nav__title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;

    .web__title{
        color: black;
        text-shadow: 4px 4px 2px rgba(215, 198, 198, 0.719);
    }
}

.menu{
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        width: 50%;
        height: 50%;
    }
}

.btn{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    border-radius: 10%;
    position: relative;
    padding: 10%;

    &__line{
        width: 70%;
        background-color: black;
        height: 2px;
        position: absolute;
    }

    #line1{
        top: 0.5em;
        left: 0;
        right: 0;
        margin: auto;
    }
    #line2{
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        margin: auto;
    }
    #line3{
        bottom: 0.5em;
        left: 0;
        right: 0;
        margin: auto;
    }

    &:hover{
        -moz-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
        transition: 1s;
    }
}

