*{
    margin: 0;
}

//colors

$color-bg:rgb(0, 0, 0);
$color-nav:#BE93C5;
$color-nav2: #f3f8f8; 
$color-card:rgba(227, 94, 253, 0.646);
$color-card2:rgba(255, 255, 255, 0.671);

body{
    background-color: $color-bg;
    font-family: 'Julee', cursive;
}
.nav{
    position: sticky;
    padding: 1em;
    background: $color-nav ;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $color-nav2, $color-nav);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $color-nav2, $color-nav); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;

    .web__title{
        text-transform: capitalize;
    }
}

.container{
    padding: 1em;
}

.section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background:$color-card ;
    box-shadow: 0 8px 32px 0 $color-card;
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 15em;
    padding: 1em;
    margin: 1em;

    &__header{
        padding: 0.5em;
    }

    &__subtitle{
        color: $color-card2;
    }

    &__title{
        padding: 0.5em 0;
    }

    &__body{
        padding: 0.5em;
        background-color: #bf45d2f9;
        color: white;
        display: flex;
        flex-wrap: wrap;

        #title{
            width: 100%;
        }

        #note{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-self: flex-start;
        }

        .btns{
            display: flex;
            justify-content: space-between;
            width: 100%;

            #add{
                padding: 0.8em 2em;
                margin: 1em 0;
                background: rgba( 34, 123, 150, 0.25 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                -webkit-backdrop-filter: blur( 4px );
                backdrop-filter: blur( 4px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                
                &:hover{
                    background-color: white;
                    transition: 1s;
                    cursor: pointer;
                }
            }

            #reset{
                padding: 0.8em 2em;
                margin: 1em 0;
                background: rgba( 34, 123, 150, 0.25 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                -webkit-backdrop-filter: blur( 4px );
                backdrop-filter: blur( 4px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                
                &:hover{
                    background-color: white;
                    transition: 1s;
                    cursor: pointer;
                }
            }

            
        }
    }
}

#delete{
    padding: 0.8em 2em;
    margin: 1em 0;
    background: rgba( 34, 123, 150, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    &:hover{
        background-color: white;
        transition: 1s;
        cursor: pointer;
    }
}
